@model CreatePollViewModel

@{
    string EditOrCreateString = Model.IsEdit ? "Edit" : "Create";
    ViewData["Title"] = EditOrCreateString;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int optionCount = 0;

}
<link rel="stylesheet" href="~/css/RadioButtons.css" />

<div class="text-center mb-5 w-100">
    <h1 class="display-4 text-truncate">@ViewData["Title"]</h1>
</div>

<div class="d-flex justify-content-center">

    <form asp-action="@EditOrCreateString" method="post" class="row" style="width: 60vw">
        <div class="col-8 shadow border-radius p-4 m-2 ">
            <label class="control-label">Main info</label>
            <div class="form-group">
                <input asp-for="PollDto.Title" class="form-control form-control-lg roundedInput" placeholder="Title">
                <span asp-validation-for="PollDto.Title" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted">Some text here.</small>
            </div>
            <div class="form-group">
                <textarea asp-for="PollDto.Description" class="form-control roundedInput" style="resize:none; min-height: 125px" placeholder="Description"> </textarea>
                <span asp-validation-for="PollDto.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3 shadow border-radius p-4 m-2 ">
            <div class="form-group">
                <label asp-for="PollDto.CreationDate" class="control-label">CreationDate</label>
                <div class="input-group">
                    <input asp-for="PollDto.CreationDate" value="@DateTime.Now" type="datetime" class="form-control roundedInput rightRoundingNone" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm leftRoundingNone d-flex" type="button"><i class="material-icons">refresh</i></button>
                    </div>
                </div>
                <span asp-validation-for="PollDto.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollDto.StartDate" class="control-label">StartDate</label>
                <input asp-for="PollDto.StartDate" value="@DateTime.Now.AddHours(1);" type="datetime" class="form-control roundedInput">
                <span asp-validation-for="PollDto.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollDto.EndDate" class="control-label">EndDate</label>
                <input asp-for="PollDto.EndDate" type="datetime" value="@DateTime.Now.AddDays(1)" class="form-control roundedInput">
                <span asp-validation-for="PollDto.EndDate" class="text-danger"></span>
            </div>
        </div>



        <div class="col-8 shadow border-radius m-2 p-4">
            <label class="control-label">Options</label>
            <div class="d-flex flex-column" id="options">
                @if (!Model.IsEdit)
                {
                    <div class="d-inline-flex align-content-center m-2">
                        <input name="PollDto.Options[0].Text" value="First" class="form-control roundedInput col-form-label-sm">
                        <div><i class="material-icons mr-1">delete</i></div>
                    </div>
                }
                else
                {
                    foreach (var option in Model.PollDto.Options)
                    {
                        <div class="d-inline-flex align-content-center m-2">
                            <input name="PollDto.Options[@optionCount].Text" value="@option.Text" class="form-control roundedInput col-form-label-sm">
                            <div><i class="material-icons mr-1">delete</i></div>
                            <input type="hidden" name="PollDto.Options[@optionCount].Id" value="@Model.PollDto.Options[optionCount].Id" />
                        </div>
                        optionCount++;
                    }
                }
            </div>
            <hr />

            <button type="button" class="btn btn-info btn-sm " id="btnAddField"><i class="material-icons">add</i></button>

            @*<div class="input-group mt-2">
                <button type="button" class="btn btn-info btn-sm input-group-prepend rightRoundingNone" id="btnAddField"><i class="material-icons">add</i></button>
                <input class="form-control bg-secondary border-0 roundedInput leftRoundingNone" placeholder="Text label" aria-label="Search" id="textAddField">
            </div>*@
        </div>
        <button type="submit" class="btn btn-outline-info btn-lg w-100 mx-2 col-8 my-4">Submit</button>
       

        @if (Model.IsEdit)
        {
            <input asp-for="@Model.PollDto.Id" value="@(Model.PollDto.Id)" class="form-control" type="hidden" />
        }
    </form>

</div>

@section Scripts {

    <script>
        function validateInput(input)
        {
            if (input.value.trim() === "") {
                alert("Please enter a option name");
                input.focus();
                return false;
            }
            if (input.value !== "") {
                if (input.value.length > 40) {
                    alert("Please enter a option name no more than 40 characters");
                    input.focus();
                    return false;
                }
            }
            return true;       
        }
        const optionsGroup = document.querySelector('#options');
        let addFieldButton = document.querySelector('#btnAddField');

        addFieldButton.addEventListener("click", e => {
            
                let option = $("#options").children().first().clone();
                let optionInput = option.children().first();
                optionInput.removeAttr('value');
                optionInput.removeAttr('name');
                optionInput.attr('name', 'PollDto.Options[' + (optionsGroup.childElementCount) + '].Text');
                optionInput.appendTo(option);
                option.appendTo(optionsGroup);
            
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
