@model CreatePollViewModel

@{
    string EditOrCreateString = Model.IsEdit ? "Edit" : "Create";
    ViewData["Title"] = EditOrCreateString;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="text-center mb-3 w-100">
    <h1 class="display-4 text-truncate">Edit</h1>
</div>

<div class="" style="width: 60vw">

    <form asp-action="@EditOrCreateString" method="post" class="w-100">
        @if (Model.IsEdit)
        {
            <input asp-for="@Model.PollDto.Id" value="@(Model.PollDto.Id)" class="form-control" type="hidden" />
        }
        <div class="form-group">
            <label asp-for="PollDto.Title" class="control-label">Title</label>
            <input asp-for="PollDto.Title" class="form-control" placeholder="Enter the desired title">
            <span asp-validation-for="PollDto.Title" class="text-danger"></span>
            <small id="emailHelp" class="form-text text-muted">Some text here.</small>
        </div>
        <div class="form-group">
            <label asp-for="PollDto.Description" class="control-label">Description</label>
            <textarea asp-for="PollDto.Description" class="form-control" style="min-height:150px" placeholder="Enter the desired description"> </textarea>
            <span asp-validation-for="PollDto.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PollDto.CreationDate" class="control-label">CreationDate</label>
            <input asp-for="PollDto.CreationDate" value="@DateTime.Now" type="datetime"  class="form-control">
            <span asp-validation-for="PollDto.CreationDate" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="PollDto.StartDate" class="control-label">StartDate</label>
            <input asp-for="PollDto.StartDate" value="@DateTime.Now.AddHours(1);"  type="datetime" class="form-control">
            <span asp-validation-for="PollDto.StartDate" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="PollDto.EndDate" class="control-label">EndDate</label>
            <input asp-for="PollDto.EndDate"  type="datetime" value="@DateTime.Now.AddDays(1)" class="form-control">
            <span asp-validation-for="PollDto.EndDate" class="text-danger"></span>

        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="pl-3" asp-action="Index">Back to List</a>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
